<div class="Barra">
<header class="titulo">Mercado Informatica</header>
</div>
<nav class="Menulateral">
<ul>
  <li class="HD"><a>HD</a></li>
  <ul>
  <ul>
    <li>Westen Digital</li>
  </ul>
  <ul>
    <li>Seagate</li>
  </ul>
  <ul>
    <li>Samsung</li>
  </ul>
  <ul>
    <li>Toshiba</li>
  </ul>
  <ul>
    <li>HITACHI</li>
  </ul>
  <ul>
    <li>Asus</li>
  </ul>
  <ul>
    <li>Adata</li>
  </ul>
  <ul>
    <li>Lg</li>
  </ul>
  <ul>
    <li>Lacie</li>
  </ul>
  <ul>
    <li>Verbatim</li>
  </ul>
</ul>
</ul>

<ul>
<li class="SSD"><a>SSD</a></li>
<ul>
  <li>Westen Digital</li>
</ul>
<ul>
  <li>Seagate</li>
</ul>
<ul>
  <li>Samsung</li>
</ul>
<ul>
  <li>Toshiba</li>
</ul>
<ul>
  <li>HITACHI</li>
</ul>
<ul>
  <li>Asus</li>
</ul>
<ul>
  <li>Adata</li>
</ul>
<ul>
  <li>Lg</li>
</ul>
<ul>
  <li>Lacie</li>
</ul>
<ul>
  <li>Verbatim</li>
</ul>
</ul>

<ul>
<li class="placa mae"><a>Placa Mãe</a></li>
<ul>
<li>PCCHIPS</li>
</ul>
<ul>
<li>Gygabite</li>
</ul>
<ul>
<li>MSI</li>
</ul>
<ul>
<li>ASUS</li>
</ul>
<ul>
<li>Intel</li>
</ul>
<ul>
<li>Asrock</li>
</ul>
<ul>
<li>ROG</li>
</ul>
<ul>
<li>Aorus</li>
</ul>
<ul>
<li>LGA 775</li>
</ul>
<ul>
<li>LGA 1700</li>
</ul>
</ul>

<ul>
<li class="processador"><a>Procesadores</a></li>
<ul>
<li>Intel Celeron</li>
</ul>
<ul>
<li>Intel Pentium Gold</li>
</ul>
<ul>
<li>I3</li>
</ul>
<ul>
<li>I5</li>
</ul>
<ul>
<li>I7</li>
</ul>
<ul>
<li>I9</li>
</ul>
<ul>
<li>Amd Fx</li>
</ul>
<ul>
<li>Ryzen</li>
</ul>
<ul>
<li>Ryzen Pro</li>
</ul>
<ul>
<li>Amd A-Series</li>
</ul>
</ul>

<ul>
<li class="mouse"><a>Mouse</a></li>
<ul>
<li>Microsoft</li>
</ul>
<ul>
<li>Logitech</li>
</ul>
<ul>
<li>Gamer pro</li>
</ul>
<ul>
<li>Evolut</li>
</ul>
<ul>
<li>Multilaser</li>
</ul>
<ul>
<li>Razer</li>
</ul>
<ul>
<li>Tech gamer</li>
</ul>
<ul>
<li>Vinik</li>
</ul>
<ul>
<li>Tek one</li>
</ul>
<ul>
<li>Bright</li>
</ul>
</ul>

<ul>
<li class="teclado"><a>Teclado</a></li>
<ul>
<li>Microsoft</li>
</ul>
<ul>
<li>Multilaser</li>
</ul>
<ul>
<li>Rog</li>
</ul>
<ul>
<li>Logitech</li>
</ul>
<ul>
<li>Hyperx</li>
</ul>
<ul>
<li>Reddragon</li>
</ul>
<ul>
<li>Motospeed</li>
</ul>
<ul>
<li>Corsair</li>
</ul>
<ul>
<li>Lg</li>
</ul>
<ul>
<li>Acer</li>
</ul>
</ul>

<ul>
<li class="placa de video"><a>Placa de Video</a></li>
<ul>
<li>Radeon rx560</li>
</ul>
<ul>
<li>Radeon rx570</li>
</ul>
<ul>
<li>Radeon rx580</li>
</ul>
<ul>
<li>Radeon rx590</li>
</ul>
<ul>
<li>Nvidia Quadro</li>
</ul>
<ul>
<li>Nvidia Rtx3070</li>
</ul>
<ul>
<li>Nvidia Rtx3090/li>
</ul>
<ul>
<li>Nvidia Gtx 1050ti</li>
</ul>
<ul>
<li>Nvidia Gtx 550</li>
</ul>
<ul>
<li>Nvidia Rtx3060</li>
</ul>
</ul>

<ul>
<li class="fontes"><a>Fontes</a></li>
<ul>
<li>Corsair cv550</li>
</ul>
<ul>
<li>Gamemax GM550</li>
</ul>
<ul>
<li>Cooler Master</li>
</ul>
<ul>
<li>Reddragon RGPS</li>
</ul>
<ul>
<li>Evga 600W</li>
</ul>
<ul>
<li>Kratos E1</li>
</ul>
<ul>
<li>One Power 500w</li>
</ul>
<ul>
<li>ATX 500W</li>
</ul>
<ul>
<li>Thermaltake</li>
</ul>
<ul>
<li>CoolerMaster</li>
</ul>
</ul>

<ul>
<li class="gabinete"><a>Gabinete</a></li>
<ul>
<li>Rog</li>
</ul>
<ul>
<li>Bluecase</li>
</ul>
<ul>
<li>Razer</li>
</ul>
<ul>
<li>RedDragon</li>
</ul>
<ul>
<li>Fantech</li>
</ul>
<ul>
<li>T-Dagger</li>
</ul>
<ul>
<li>Silverstone</li>
</ul>
<ul>
<li>CoolerMaster</li>
</ul>
<ul>
<li>Lian-Li</li>
</ul>
<ul>
<li>Nzxt</li>
</ul>
</ul>

<ul>
<li class="memoria ram"><a>Memoria Ram</a></li>
<ul>
<li>Corsair</li>
</ul>
<ul>
<li>Adata</li>
</ul>
<ul>
<li>Kingston</li>
</ul>
<ul>
<li>HyperX</li>
</ul>
<ul>
<li>Multilaser</li>
</ul>
<ul>
<li>Oxy</li>
</ul>
<ul>
<li>Markvision</li>
</ul>
<ul>
<li>TeamGroup</li>
</ul>
<ul>
<li>Samsung</li>
</ul>
<ul>
<li>Crucial</li>
</ul>
</ul>
</nav>
